<div class="card" (mouseenter) ="enterCard()" (mouseleave) ="leaveCard()"
[ngStyle]="{'background-image': cardBG}">
  <div class="background"
  [ngStyle]="{'background-image': smallBackground}">
  </div>
  <div class="avatar">
    <img [src]="user?.avatar_url" alt="Avatar" class="circle">
  </div>
  <div class="user-information">
    <div class="d-flex h-1">
      <strong class="mx-auto ellipsis" [title]="userDetail?.name">{{userDetail?.name}}</strong>
    </div>
    <div class="d-flex mt-05 h-1">
      <span class="mx-auto ellipsis" [title]="userDetail?.id">{{userDetail?.id}}</span>
    </div>
    <div class="d-flex mt-05 h-1">
      <i class="far fa-user fa-lg ml-auto"></i> 
      <span class="mr-auto ellipsis" [title]="userDetail?.followers+' Followers'"><strong>{{userDetail?.followers ? ' '+userDetail.followers : ' 0' }}</strong> Followers</span>
    </div>
    <div class="line mt-1">
    </div>
  </div>
  <div class="card-detail" *ngIf="!hover && repositoryUser?.length">
    <div class="position-relative">
      <div class="w-100 h-16 d-flex">
        <div class="w-50 ellipsis">
            <span class="secondary">{{repositoryUser?.length ? repositoryUser[0]?.name : ' '}}</span>
        </div>
        <div class="w-50">
          <div class="stars jc-fe">
            <i class="fa fa-star white circle-icon"></i>
            <span class="ml-05 ellipsis">{{repositoryUser?.length ? ' '+repositoryUser[0]?.stargazers_count : '  0'}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <span class="ellipsis mt-05" [title]="repositoryUser?.length ? repositoryUser[0]?.description : ' '">{{repositoryUser?.length ? repositoryUser[0]?.description : ' '}}</span>
      </div>
    </div>
  </div>
  <div class="d-flex" *ngIf="hover && user?.login">
    <button class="btn" (click)="openProfile()">Open Profile</button>
  </div>
</div>
